@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

* {
    margin: 0;
    font-family: 'Rubik', sans-serif;
}

:root {
    --pale-violet: hsl(276, 100%, 81%);
    --moderate-violet: hsl(276, 55%, 52%);
    --desaturated-dark-violet: hsl(271, 15%, 43%);
    --grayish-blue: hsl(206, 6%, 79%);
    --very-dark-desaturated-violet: hsl(271, 36%, 24%);
    --dark-grayish-violet: hsl(270, 7%, 64%);
    --white: hsl(0, 0%, 100%);
    --light-grayish-violet: hsl(270, 20%, 96%);
    --very-dark-desaturated-violet: hsl(271, 36%, 24%);
    --very-light-magenta: hsl(289, 100%, 72%);
    --light-magenta: hsl(293, 100%, 63%);
    --light-violet: hsl(264, 100%, 61%);
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 125px;
}

.mobile {
    width: 245px;
    height: 505px;
    background-color: var(--light-grayish-violet);
    border-radius: 20px;
}

.mobile-header {
    height: 65px;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: var(--moderate-violet);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    color: var(--white);
}

.mobile-header-info {
    display: flex;
    flex-direction: column;
}

.mobile-header-name {
    font-size: 10px;
}

.mobile-header-stats {
    font-size: 8px;
}

/* I need to apply better pratices below */

.container-messages {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    gap: 10px;
}


.txt-receive-card {
    background-color: var(--pale-violet);
    height: auto;
    max-width: 130px;
    border-radius: 10px;
    color: var(--moderate-violet);
}

.img-squares {
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin-left: 89px;
}

.dog-one, .dog-two, .dog-three {
    width: 40px;
    height: 40px;
    border-radius: 10px;
}

.txt-sent-card {
    background-color: var(--white);
    margin-left: 95px;
    height: auto;
    max-width: 130px;
    border-radius: 10px;
    color: var(--dark-grayish-violet);
}

.txt-receive, .txt-sent {
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 10px;
}

.txt-offer-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 160px;
    height: auto;
    background: linear-gradient(90deg, var(--light-magenta) 0%, var(--light-violet) 75%);
    color: var(--white);
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 10px;
    border-radius: 10px;
}

.txt-offer {
    margin-left: 10px;
}

.txt-offer-price {
    margin-right: 10px;
}

span {
    font-size: 16px;
}

.input-message-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 225px;
    height: auto;
    background-color: var(--white);
    border-radius: 15px;
    font-size: 11px;
}

.input-message {
    margin-left: 20px;
}

.avatar {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    outline: 1px solid var(--white);
}

.container-about {
    width: 40%;
}

h1 {
    color: var(--very-dark-desaturated-violet);
}

.attribution {
    margin-top: -45px;
    width: auto;
    font-size: 11px;
    text-align: center;
}

.txt-about {
    color: var(--dark-grayish-violet);
    margin-top: 40px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

#more {
    margin-left: 65px;
}